/*
===========================================================
CSS Reset
===========================================================
*/

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
a{
  cursor: pointer;
}
#page-content{
  background-color: white;
}

.navbar-nav > li > a {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

table thead th{
  font-weight: bold;
}

table {
  border: 1px solid #ddd;
}

#login-page .login-data textarea {
    display: block;
    border: 2px solid #c6c9cc;
    resize:vertical;
    border-radius: 3px;
    margin: 5px 0 12px 0;
    text-align: center;
    padding: 5px 5px;
    width: 100%;
}

.navbar {
    border-radius: 0 !important;
    border-color : transparent !important;
}

.navbar-nav, .navbar-nav li, .navbar-nav a {
    height: 100% !important;
    vertical-align: middle !important;

}

footer {
    background-color: #f8f8f8;
}


/*
===========================================================
Font Styles
===========================================================
*/
body {
font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}


/*
===========================================================
Login page
===========================================================
*/

#login-page {
background: url(../images/background.png) no-repeat center center fixed;
background-size: cover;
background-color: #CCC;
height: 100%;
}

#login-page .login-box {
border-radius: 10px;
background-color: rgba(255, 255, 255, .5);
width: 600px;
margin-left: auto;
margin-right:auto;
padding: 12px 24px 12px 12px;
margin-bottom: 66px;
margin-top: 70px !important;
}

#login-page .login-box form {
margin: 22px;
}

#login-page .logo {
padding-top: 20px;  
height: 25%;
}

#login-page .logo img {
display: block;
margin-left: auto;
margin-right: auto;
width:540px; 
height: auto;
}

#login-page .logo h2 {
font-family: "Harlow", Verdana, Tahoma;
display: block;
margin-left: auto;
margin-right: auto;
width: 540px;
font-size: 17pt;
text-align: center;
color: #004888;
}

#login-page .login-data input {
display: block;
border: 2px solid #c6c9cc;
border-radius: 3px;
margin: 5px 0 12px 0;
text-align: center;
padding: 5px 5px;
width: 100%;
}

#login-page .login-action {
text-align: center;
}

#login-page .login-action input {
margin: 12px 0 5px 0;
}

#login-page #spoti-login {
margin: 10px 22px 0 22px;
width: 220px;
}

#login-page .create-account {
  color : #003871;
}

#login-page .erreur {
text-align:center; 
color:red;
}

#login-page .succes {
text-align:center; 
color:green;
}


#max-height{
  max-height:150px
}

.sans-padding{
    padding:0 !important;
}

.right {
    float : right !important;
}

table.fixed { 
    table-layout:fixed; 
}

table.fixed td { 
    overflow: hidden; 
}

.hidden{
    display: none !important;
}

.textarea{
    resize: vertical;
    width: 100%;
}

a.fa-globe  {
  position: relative;
  font-size: 2em;
  color: grey;
  cursor: pointer;
}

a.fa-user-circle {
  position: relative;
  font-size: 1.8em;
  color: grey;
  cursor: pointer;
}

span.fa-circle {
  position: absolute;
  font-size: 0.8em;
  top: 28px;
  color: red;
  right: 5px;
}
span.num {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  position: absolute;
  font-size: 0.4em;
  font-weight: 900;
  top: 30px;
  color: #fff;
  right: 13px;
  text-align: center;
}

@media (max-width: 767px) {
    .portfolio>.clear:nth-child(6n)::before {
      content: '';
      display: table;
      clear: both;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .portfolio>.clear:nth-child(8n)::before {
      content: '';
      display: table;
      clear: both;
    }
}
@media (min-width: 1200px) {
    .portfolio>.clear:nth-child(12n)::before {  
      content: '';
      display: table;
      clear: both;
    }
}
  
.center {
    text-align: center;
}