<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2" id="page-content">

		<div class="row">
			<nav-bar></nav-bar>
		</div>
		<div class="row">

			<div ng-hide="eventValid == 1">
				<div class="col-md-10 col-md-offset-1">
					<h3>Création d'un événement</h3>
					<br>
					<form ng-submit="createEvent()">
						<fieldset class="login-data">
							<input type="text" name="title" autocomplete="off" class="form-control" ng-model="title" placeholder="Titre de l'événement" required>
							<input type="text" name="address" autocomplete="off" class="form-control" ng-model="address" placeholder="Lieu de l'événement" required>
							<textarea rows="15" cols="50" ng-model="description" class="form-control" placeholder="Description de l'événement"></textarea>

							<div ng-if="errorMessage" class="alert alert-danger erreur">{{ errorMessage }}</div>
						</fieldset>
						<div class="text-center pagination-centered ">
							<div class="row">
								<div class="col-md-6">
									<a ng-href="#!/accueil/"><button type="button" class="btn btn-warning" >Annuler</button></a>
								</div>
								<div class="col-md-6">
									<input class="btn btn-success" style="cursor:pointer" type="submit" name="submit" value="Suivant">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>


			<div class="col-md-10 col-md-offset-1" ng-show="eventValid == 1">
				<h3>Créneaux de l'événement</h3>
				<br>
				<table class="table table-hover table-bordered fixed">
					<col width="15%" />
					<col width="15%" />
					<col width="60%" />
					<col width="5%" />
					<col width="5%" />
					<thead>
						<tr>
							<th>
								Date
							</th>
							<th>
								Heure
							</th>
							<th>
								Description
							</th>
							<th>

							</th>
							<th>

							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="slot in slots">
							<td>{{slot.day}}</td>
							<td>{{slot.time}}</td>
							<td>{{slot.comment}}</td>
							<td align='center'>
								<input type="hidden" ng-model="slotID[$index]" value="{{slot.ID}}" ng-init="slotID=slot.ID">
								<img src="/images/edit.png" ng-click="editSlot(slotID)" style="cursor:pointer;" height="20" data-toggle="modal">
							</td>
							<td align='center'>
								<img src="/images/delete.png" ng-click="deleteSlot(slotID)" style="cursor:pointer;" height="20">
							</td>
						</tr>
					</tbody>
				</table>
				<div class="text-center pagination-centered ">
					<div class="row">
						<div ng-if="successMessage" class="alert alert-success succes">{{ successMessage }}</div>
						<div ng-if="errorMessage" class="alert alert-danger erreur">{{ errorMessage }}</div>
						<div class="col-md-4">
							<button type="button" ng-click="delete()" class="btn btn-warning">Annuler</button>
						</div>
						<div class="col-md-4">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalSlot">Ajouter un créneau</button>
						</div>
						<div class="col-md-4">
							<button type="button" ng-click="finishEvent()" class="btn btn-success">Terminer</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div footer></div>
		</div>
	</div>
</div>


<div class="modal fade" id="myModalSlot" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Ajout d'un nouveau créneau</h4>
			</div>
			<form ng-submit="createSlot()">
				<div class="modal-body">
					<p>Date proposée</p><br><input type="date" id="eventDate" ng-model="eventDate" name="title" class="form-control" required><br>
					<p>Heure proposée</p><br><input class="form-control" type="time" id="eventTime" name="input" ng-model="eventTime" placeholder="HH:mm"
					 required /><br>
					<p>Commentaire</p><br><textarea class="form-control textarea" rows="4" cols="50" ng-model="eventComment" id="max-height"></textarea><br>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-success">
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="myModalSlotEdit" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modification d'un créneau</h4>
			</div>
			<form ng-submit="updateSlot()">
				<div class="modal-body">
					<p>Date proposée</p><br><input type="date" id="slotDate" ng-model="slotDate" name="title" class="form-control" required><br>
					<p>Heure proposée</p><br><input class="form-control" type="time" id="slotTime" name="input" ng-model="slotTime" placeholder="HH:mm"
					 value="{{timeSlot}}" required /><br>
					<p>Commentaire</p><br><textarea class="form-control textarea" rows="4" cols="50" ng-model="slotComment" id="max-height"></textarea><br>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-success">
				</div>
			</form>
		</div>
	</div>
</div>