<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2" id="page-content">

		<div class="row">
			<nav-bar></nav-bar>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1" ng-if="eventEdit == 0">
				<h3>Détails de l'événement</h3>
				<br>
				<p>Titre : {{event.title}}</p>
				<p>Description : {{event.description}}</p>
				<p>Lieu : {{event.address}}</p>

				<table class="table table-hover table-bordered fixed">
					<col width="15%" />
					<col width="15%" />
					<col width="35%" />
					<col width="15%" />
					<col width="20%" />
					<thead>
						<tr>
							<th>
								Date
							</th>
							<th>
								Heure
							</th>
							<th>
								Description
							</th>
							<th>
								Participants
							</th>
							<th>
								Réponse
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="slot in slots">
							<td>{{slot.day}}</td>
							<td>{{slot.time}}</td>
							<td>{{slot.comment}}</td>
							<td style="text-align:center">5&nbsp;<i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;9&nbsp;
								<i class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></i>
							</td>
							<td align='center'>
								<div class="btn-group" data-toggle="buttons">
									<label id="1" class="btn btn-primary">
										<input type="radio"><i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i>
									</label>
									<label id="2" class="btn btn-primary active" checked>
										<input type="radio"><i class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></i>
									</label>
								</div>
							</td>

						</tr>
					</tbody>

				</table>



				<div class="text-center pagination-centered ">
					<div class="row">
						<div ng-if="successMessage" class="alert alert-success succes">{{ successMessage }}</div>
						<div ng-if="errorMessage" class="alert alert-danger erreur">{{ errorMessage }}</div>

						<div ng-hide="isAdmin">
							<div class="col-md-3">
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDelete">Supprimer</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModalCloture">Cloturer</button>
							</div>
							<div class="col-md-3">
								<button type="button" ng-click="edit()" class="btn btn-info">Modifier</button>
							</div>
						</div>
						<div class="col-md-3">
							<button type="button" ng-click="saveSlots()" class="btn btn-success">Enregistrer</button>
						</div>
					</div>
				</div>
			</div>


			<div class="col-md-10 col-md-offset-1" ng-if="eventEdit == 1">
				<h3>Modification de l'événement</h3>
				<br>
				<p>Titre</p><br><input type="text" name="title" ng-model="title" class="form-control" required><br>
				<p>Lieu</p><br><input type="text" name="address" ng-model="address" class="form-control" required><br>
				<p>Description</p><br><textarea class="form-control textarea" rows="4" cols="50" ng-model="description"></textarea>
				<br>
				<table class="table table-hover table-bordered fixed">
					<col width="15%" />
					<col width="15%" />
					<col width="45%" />
					<col width="15%" />
					<col width="5%" />
					<col width="5%" />
					<thead>
						<tr>
							<th>
								Date
							</th>
							<th>
								Heure
							</th>
							<th>
								Description
							</th>
							<th>
								Participants
							</th>
							<th>

							</th>
							<th>

							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="slot in slots">
							<td>{{slot.day}}</td>
							<td>{{slot.time}}</td>
							<td>{{slot.comment}}</td>
							<td style="text-align:center">5&nbsp;<i class="fa fa-smile-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;9&nbsp;
								<i class="fa fa-frown-o" aria-hidden="true"></i>
							</td>
							<td align='center'>
								<input type="hidden" ng-model="slotID[$index]" value="{{slot.ID}}" ng-init="slotID=slot.ID">
								<img src="/images/edit.png" ng-click="editSlot(slotID)" style="cursor:pointer;" height="20"  data-toggle="modal">							
							</td>
							<td align='center'>
								<img src="/images/delete.png" ng-click="deleteSlot(slotID)" style="cursor:pointer;" height="20">
							</td>
						</tr>
					</tbody>
				</table>
				<div class="text-center pagination-centered ">
					<div class="row">
						<div ng-if="successMessage" class="alert alert-success succes">{{ successMessage }}</div>
						<div ng-if="errorMessage" class="alert alert-danger erreur">{{ errorMessage }}</div>
						<div class="col-md-6">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalSlot">Ajouter créneau</button>
						</div>
						<div class="col-md-6">
							<button type="button" ng-click="saveEvent()" class="btn btn-success">Enregistrer</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div footer></div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModalDelete" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Confirmation de suppression</h4>
			</div>
			<div class="modal-body">
				<p>Êtes-vous sûr de vouloir supprimer cet événement et les créneaux associés ?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
				<button type="button" ng-click="delete()" class="btn btn-danger">Oui</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModalCloture" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Choix du créneau définitif</h4>
			</div>
			<div class="modal-body">
				<form ng-submit="">
					<div class="form-group">
						<br>
						<select class="form-control" id="exampleSelect1">
							<option value="" ng-repeat="slot in slots">{{slot.eventDate}}</option>
						</select>
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<input type="submit" class="btn btn-success">
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModalSlot" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Ajout d'un nouveau créneau</h4>
			</div>
			<form ng-submit="createSlot()">
				<div class="modal-body">
					<p>Date proposée</p><br><input type="date" id="eventDate" ng-model="eventDate" name="title" class="form-control" required><br>
					<p>Heure proposée</p><br><input class="form-control" type="time" id="eventTime" name="input" ng-model="eventTime" placeholder="HH:mm"
					 required /><br>
					<p>Commentaire</p><br><textarea class="form-control textarea" rows="4" cols="50" ng-model="eventComment" id="max-height"></textarea><br>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-success">
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="myModalSlotEdit" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modification d'un créneau</h4>
			</div>
			<form ng-submit="editSlot()">
				<div class="modal-body">
					<p>Date proposée</p><br><input type="date" id="slotDate" ng-model="slotDate" name="title" class="form-control" required><br>
					<p>Heure proposée</p><br><input class="form-control" type="time" id="slotTime" name="input" ng-model="slotTime" placeholder="HH:mm"
					 required /><br>
					<p>Commentaire</p><br><textarea class="form-control textarea" rows="4" cols="50" ng-model="slotComment" id="max-height"></textarea><br>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-success">
				</div>
			</form>
		</div>
	</div>
</div>