<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2" id="page-content">
		<div class="row">
			<nav-bar></nav-bar>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h3>Vos participations clôturées</h3>
				<br>
				<table class="table table-hover">
					<col width="25%" />
					<col width="50%" />
					<col width="15%" />
					<col width="10%" />
					<thead>
						<tr>
							<th>
								Titre
							</th>
							<th>
								Description
							</th>
							<th>
								Lieu
							</th>
							<th>

							</th>
							<th>

							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="event in eventsNotified track by $index">
							<td>{{event.title}}</td>
							<td>{{event.description}}</td>
							<td>{{event.address}}</td>
							<td align='center'>
								<input type="hidden" ng-model="eventID[$index]" value="{{event.ID}}" ng-init="eventID=event.ID">
								<input type="image" src="/images/eye.png" ng-click="viewEvent(eventID)" alt="Submit Form" height="20" />
							</td>
							<td align='center'>
								<button type="button" value="{{event.ID}}" ng-init="eventID=event.ID" class="btn btn-outline-primary" ng-click="markRead(eventID)"><i class="glyphicon glyphicon-check" aria-hidden="true"></i></button>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="text-center pagination-centered">
					<div class="row">
						<button type="button" class="btn btn-primary" ng-click="markAllRead()">Tout marquer comme lu</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div footer></div>
		</div>
	</div>
</div>