<div class="container-fluid">
    <div class="col-md-8 col-md-offset-2" id="page-content">

        <div class="row">
            <nav-bar></nav-bar>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" data-target="#home">A venir</a></li>
                     <li><a data-toggle="tab" data-target="#menu1">En attente</a></li>
                    <li><a data-toggle="tab" data-target="#menu2">Archivés</a></li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <h3>Mes participations à venir</h3>
                        <br>
                        <table class="table table-hover">
                            <col width="25%" />
                            <col width="50%" />
                            <col width="15%" />
                            <col width="10%" />
                            <thead>
                                <tr>
                                    <th>
                                        Titre
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Lieu
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="event in participationsClosed track by $index">
                                    <td>{{event.title}}</td>
                                    <td>{{event.description}}</td>
                                    <td>{{event.address}}</td>
                                    <td align='center'>
                                        <input type="hidden" ng-model="eventID[$index]" value="{{event.ID}}" ng-init="eventID=event.ID">
                                        <input type="image" src="/images/eye.png" ng-click="viewEvent(eventID)" alt="Submit Form" height="20" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                      <div id="menu1" class="tab-pane fade">
                        <h3>Mes participations en attente</h3>
                        <br>
                        <table class="table table-hover">
                            <col width="25%" />
                            <col width="50%" />
                            <col width="15%" />
                            <col width="10%" />
                            <thead>
                                <tr>
                                    <th>
                                        Titre
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Lieu
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="event in participationsOpened track by $index">
                                    <td>{{event.title}}</td>
                                    <td>{{event.description}}</td>
                                    <td>{{event.address}}</td>
                                    <td align='center'>
                                        <input type="hidden" ng-model="eventID[$index]" value="{{event.ID}}" ng-init="eventID=event.ID">
                                        <input type="image" src="/images/eye.png" ng-click="viewEvent(eventID)" alt="Submit Form" height="20" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <h3>Mes participations passées</h3>
                        <br>
                        <table class="table table-hover">
                            <col width="25%" />
                            <col width="50%" />
                            <col width="15%" />
                            <col width="10%" />
                            <thead>
                                <tr>
                                    <th>
                                        Titre
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Lieu
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="event in participationsArchived track by $index">
                                    <td>{{event.title}}</td>
                                    <td>{{event.description}}</td>
                                    <td>{{event.address}}</td>
                                    <td align='center'>
                                        <input type="hidden" ng-model="eventID[$index]" value="{{event.ID}}" ng-init="eventID=event.ID">
                                        <input type="image" src="/images/eye.png" ng-click="viewEvent(eventID)" alt="Submit Form" height="20" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div footer></div>
        </div>
    </div>
</div>